<div id="aboutme" class="aboutme section">
    <h3 class="section-headline">About Me</h3>
    <p>I'm <a href="https://drissboumlik.com/?ref=drissboumlik.github.io/aboutme" target="_blank">Driss Boumlik</a>, a developer from Morocco.
        I love creating and sharing meaningful work that adds value or makes a positive impact.
        Problem-solving challenges me 🧠, helping beginner developers inspires me 💻, and there's always something new to learn and explore ツ.
    </p>
</div>