<div id="community" class="community section">
    <h3 class="section-headline">Community Contributions</h3>
    <p>
        I believe in giving back to the developer community through <a href="https://www.udemy.com/course/css-mastering-animations" target="_blank">knowledge-sharing</a> and mentorship. In late 2020, I founded a Moroccan developer <a href="https://community.drissboumlik.com/" target="_blank">community</a> to foster a learning-focused environment.
    </p>
    <p>
        Since then, I've hosted over 230 online <a href="https://www.facebook.com/teacode.ma" target="_blank">events</a> (a few were <a href="https://www.youtube.com/@teacode-community/videos" target="_blank">recorded</a>), supported by a growing group of +1.6k members and dedicated <a target="_blank" href="https://community.drissboumlik.com/p/contributors#contributors">contributors</a>. The community has become a space for workshops, Q&A sessions, and mutual growth.
    </p>
    <div class="img-container">
        <figure>
            <img src="assets/img/other/compressed/workshops.jpg" data-src="assets/img/other/workshops.jpg" class="img-fluid w-100 lazyload" alt="Web Development Workshop">
            <figcaption class="text-center mt-1">Web Development Workshop.</figcaption>
        </figure>
    </div>
</div>
