<div id="my-journey" class="my-journey section">
    <h3 class="section-headline">My Journey</h3>
    <p>
        I first discovered programming at university, diving into Algorithms, C, Assembly, Java, and C#. Later, I taught
        myself HTML, CSS, JavaScript, and Bootstrap to expand my skill set.<br />
        After graduation, my path began with two internships, but I quickly realized my passion for teaching. I became a
        full-time trainer, introducing kids to programming through
        <a href="https://education.lego.com/en-us" target="_blank" rel="noopener noreferrer">Lego EV3 Mindstorms</a>
        and <a href="https://scratch.mit.edu/" target="_blank" rel="noopener noreferrer">Scratch</a>.
        This incredible experience even led me to give a talk about it (you can watch the recording
        <a href="https://youtu.be/EpV5GA-kPos?t=1303" target="_blank" rel="noopener noreferrer">here</a>).
    </p>
    <div class="img-container">
        <figure>
            <img src="assets/img/other/compressed/coding-for-kids-2.jpg"
                data-src="assets/img/other/coding-for-kids-2.jpg" class="img-fluid w-100 lazyload"
                alt="Lego EV3 Mindstorms Presentation">
            <figcaption class="text-center mt-1">Lego EV3 Mindstorms Presentation.</figcaption>
        </figure>
        <figure>
            <img src="assets/img/other/compressed/coding-for-kids.jpg" data-src="assets/img/other/coding-for-kids.jpg"
                class="img-fluid w-100 lazyload" alt="Lego EV3 Mindstorms Session">
            <figcaption class="text-center mt-1">Lego EV3 Mindstorms Session.</figcaption>
        </figure>
    </div>
    <p>
        Eventually, I transitioned to becoming a full-time developer. Over the years, I’ve worked on diverse projects,
        mainly with PHP/Laravel and occasionally Angular. Working remotely during the pandemic taught me how to adapt,
        collaborate effectively, and keep evolving as a professional.
    </p>
</div>