<div id="outside-work" class="outside-work section">
    <h3 class="section-headline">Outside of Work</h3>
    <p>When I’m not coding or mentoring, I enjoy:</p>
    <ul class="ms-2 ps-4">
        <li>Cycling or jogging outdoors.</li>
        <li>Playing football with friends.</li>
        <li>Reading <a href="https://www.goodreads.com/review/list/170245827-driss?view=covers" target="_blank"
                rel="noopener noreferrer">books</a>
            or listening to <a href="https://castbox.fm/cl/360626" target="_blank"
                rel="noopener noreferrer">podcasts</a>.</li>
        <li>Hosting <a target="_blank" rel="noopener noreferrer"
                href="https://community.drissboumlik.com/?ref=drissboumlik.github.io/aboutme#mock-interview">mock
                interviews</a> or community events to help others improve their skills.</li>
        <li>Playing <a href="https://www.chess.com/member/89db" target="_blank" rel="noopener noreferrer">chess</a>
            or <a href="https://play.picoctf.org/users/cartouche01" target="_blank" rel="noopener noreferrer">CTF</a>.
        </li>
    </ul>
</div>