<div id="work-with-me" class="work-with-me section">
    <h3 class="section-headline" id="why-me">Why Work With Me?</h3>
    <p>
        I'm the go-to PHP/Laravel expert in my current team. While I don't claim to have all the answers 😅, I'm confident in my ability to research, experiment, and find solutions. I also enjoy improving workflows and making life easier for my fellow developers.
        Here's how I've added value in my current and past roles:
    </p>
    <ul>
        <li>
            <span class="bold">Automation</span>: I wrote scripts to reduce manual processes, saving valuable time during tight deadlines.
        </li>
        <li>
            <span class="bold">Technology Upgrades</span>: I introduced Laravel and Git, replacing an internal PHP framework and SVN. I’m currently advocating for Docker and modern frontend tools like Vue.js.
        </li>
        <li>
            <span class="bold">Developer Productivity</span>: I created a list of helpful Bash aliases, which my team members found useful (read more <a href="https://github.com/drissboumlik/desktop-config/blob/master/terminal/zsh/.zshrc"
            target="_blank">here</a>).
        </li>
        <li>
            <span class="bold">PHP Version Management</span>: I developed a tool to install, switch, and configure multiple PHP versions with ease on Windows (read more <a href="https://pvm.drissboumlik.com" target="_blank">here</a>).
        </li>
    </ul>
</div>