<div class="section about-header">
    <div id="particles-js" class="particles-js"></div>
    <div class="container headline-wrapper">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="row d-flex align-items-center justify-content-between
                    flex-sm-row gap-sm-0
                    flex-column-reverse gap-2
                ">
                    <div class="col-sm-7 col-12 profile-data
                        d-flex flex-column gap-1
                        align-items-sm-start
                        align-items-center justify-content-between">
                        <div class="profile-name" id="profile-name">Driss Boumlik</div>
                        <div class="social-icons">
                            <%- include('views/partials/socials.ejs') -%>
                        </div>
                    </div>
                    <div class="col-sm-3 col-5 profile-image">
                        <img src="assets/img/me/compressed/circle-256_2.png" data-src="assets/img/me/circle-256_2.png" alt="Profile Image"
                            class="img-fluid lazyload">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>