<div class="section about-header">
    <div id="particles-js" class="particles-js"></div>
    <div class="container headline-wrapper">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="profile-data">
                        <div class="profile-name" id="profile-name">Driss Boumlik</div>
                        <div class="social-icons mt-3">
                            <div class="social-icons-wrapper">
                                <ul class="social-icons-items list-group list-group-horizontal align-items-start">
                                    <li class="social-icon-item list-group-item border-0">
                                        <a href="https://github.com/drissboumlik" target="_blank" rel="noopener"
                                            aria-label="Follow me on github" data-toggle="tooltip" data-placement="top"
                                            class="text-decoration-none" data-bs-original-title="Follow me on github">
                                            <span class="social-icon"><i class="fa-brands fa-github"></i></span>
                                        </a>
                                    </li>
                                    <li class="social-icon-item list-group-item border-0">
                                        <a href="https://drissboumlik.com/" target="_blank" rel="noopener"
                                            aria-label="Follow me on github" data-toggle="tooltip" data-placement="top"
                                            class="text-decoration-none" data-bs-original-title="Follow me on github">
                                            <span class="social-icon"><i class="fa-solid fa-globe"></i></span>
                                        </a>
                                    </li>
                                    <li class="social-icon-item list-group-item border-0">
                                        <a href="https://linkedin.com/in/drissboumlik" target="_self" rel="noopener"
                                            aria-label="Get in touch" data-toggle="tooltip" data-placement="top"
                                            class="text-decoration-none" data-bs-original-title="Get in touch">
                                            <span class="social-icon"><i class="fa-brands fa-linkedin"></i></span>
                                        </a>
                                    </li>
                                    <li class="social-icon-item list-group-item border-0">
                                        <a href="https://twitter.com/drissboumlik" target="_blank" rel="noopener"
                                            aria-label="twitter" data-toggle="tooltip" data-placement="top"
                                            class="text-decoration-none" data-bs-original-title="twitter">
                                            <span class="social-icon"><i class="fa-brands fa-x-twitter"></i></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="profile-image">
                        <img src="assets/img/me/circle-256_2.png" alt="Profile Image" width="100" height="100"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>