<hr class="my-5" />
<p>
    Thank you for taking the time to learn more about me! If you'd like to collaborate, ask a question, or just say hi,
    feel free to reach out. I'm always open to meaningful conversations, opportunities, or simply helping where I
    can.<br />
    Email : <a href="mailto:hi@drissboumlik.com">hi@drissboumlik.com</a>
</p>