<div class="social-icons-wrapper">
    <ul class="social-icons-items list-group list-group-horizontal align-items-start">
        <li class="social-icon-item list-group-item border-0">
            <a href="https://github.com/drissboumlik" target="_blank" rel="noopener"
                aria-label="Follow me on github" data-toggle="tooltip" data-placement="top"
                class="text-decoration-none" data-bs-original-title="Follow me on github">
                <span class="social-icon"><i class="fa-brands fa-github"></i></span>
            </a>
        </li>
        <li class="social-icon-item list-group-item border-0">
            <a href="https://drissboumlik.com/" target="_blank" rel="noopener"
                aria-label="Follow me on github" data-toggle="tooltip" data-placement="top"
                class="text-decoration-none" data-bs-original-title="Follow me on github">
                <span class="social-icon"><i class="fa-solid fa-globe"></i></span>
            </a>
        </li>
        <li class="social-icon-item list-group-item border-0">
            <a href="https://linkedin.com/in/drissboumlik" target="_blank" rel="noopener"
                aria-label="Get in touch" data-toggle="tooltip" data-placement="top"
                class="text-decoration-none" data-bs-original-title="Get in touch">
                <span class="social-icon"><i class="fa-brands fa-linkedin"></i></span>
            </a>
        </li>
        <li class="social-icon-item list-group-item border-0">
            <a href="https://twitter.com/drissboumlik" target="_blank" rel="noopener"
                aria-label="twitter" data-toggle="tooltip" data-placement="top"
                class="text-decoration-none" data-bs-original-title="twitter">
                <span class="social-icon"><i class="fa-brands fa-x-twitter"></i></span></a>
        </li>
    </ul>
</div>